@font-face {
    font-family: bebasneue;
    src: url("../fonts/73-13973-tahoma.ttf");
}
@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Regular.otf");
}

body {
    font-family: tahoma;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-nav {
    /* float: left; */
    /* margin: 0; */
}
.navbar-right li a span {
    margin-left: 10px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #ffffff;
}
.navbar-nav>li>a {

    line-height: 67px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #7276e4;
}
.menubar{
    background-color: #ffffff;
}
#list1 a span {
    color: #009fe3;
    margin-right: 10px;
}
#list1 a {
    color: #009fe3;
    font-size: 20px;
}
#list2 a span {
    color: #80807f;
    margin-right: 10px;
}
#list2 a {
    color: #80807f;
    font-size: 20px;
}
#list3 a {
    color: #ffffff;
    font-size: 20px;

}
#list3 a span {
    /* color: #80807f; */
    margin-right: 10px;
}
/* .banner {
    width: 100%;
} */
.white1{
    background-color: #ffffff;
    height: 60px;
}
.contact {
    background: #a45125;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    min-height: 24px;
    /* height: 112px; */

}
.contact_1 p{
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    /*   margin-right: 3px; */
    /* line-height: 34px; */
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: -15px;
}
.contact_2 {
    margin-bottom: 40px;
    margin-top: 40px;
}
.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
}
.btn-default {
    color: #a54d0e;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    border-color: #ccc;
    margin-left: -55px;
    /* padding-left: 0px; */
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
}
.nam p{
    color: #492a00;
    font-size: 37.82px;
    font-weight: bold;
    font-family: MyriadPro;
    text-align: center;
}
.block-inner {
    background-color: #ffffff;
    margin: auto;
    position: relative;
}
#element-18 {
    height: 125px;
    width: 505px;
    left: 375px;
    top: 150px;
    z-index: 13;
    /* font-size: 9.75px;
    font-family: tahoma; */
}
.page .page-element-type-text {
    text-align: left;
}
.widget-text .contents {
    font-size: 14px;
}
#element-18 p, #element-18 ul, #element-18 ol, #element-18 h1 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 25px;
    text-align: left;
}
.contents p {
    margin: 0;
}

#element-27 {
    height: 12px;
    width: 555px;
    margin-left: 315px;
    top: 251px;
    z-index: 18;
}


.element4 {
    position: relative;
}
.element41 {
    position: absolute;
    top: 40px;
}
.element42 {
    top:40px;
    position: absolute;
    /* left :40px; */
    margin-bottom: 40px;
}
.main-three hr {
    border: 2px dashed #503515;
    margin-top: 17px;
}
.reason {
    text-align: center;
    color: #a55025;
    font-size: 30px;
    font-weight: bold;
}
.main-three1 {
    font-style :italic;
    font-weight: bold;
    font-size: 30px;
}
.main-four {
    background-color: #fff1de;
}
.main-four1 {
    /* margin-left: -15px; */
    line-height: 20px;
}
.main-four1 p {
    font-size: 19px;

}
#bolds {
    font-weight: bold;
    color: #6f4000;
}
.main-five {
    background-color: #ffdfb5;
}
.function {
    border: 3px dashed #8c6239;
    -moz-border-radius: 10px;
    -webkit-border-radius:120px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #6b3518;
    /*  height: 115px; */
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}
.medicine {
    margin-top: 10px;
    text-align: center;
}
.function-medicine {
    margin-top: 40px;
}
.function-medicine p {
    font-size: 30px;
    color: #6b3518;
}
.main-last{
    background-color: #fff1de;
    text-align: center;
    border: 1px
}
.question{
    border: 3px dashed #8c6239;
    /* margin-left: -15px; */
    padding-right: 30px;
    /* height: 110px; */
    -moz-border-radius: 10px;
    -webkit-border-radius:120px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #6b3518;
    font-size: 40px;
    vertical-align: inherit;
    margin-top: 20px;
}
.advance {
    font-size: 30px;
    /*   margin-left: 30px; */
    text-align: left;
}
.lady {
    padding-left: -15px;
}
.advance p b {
    font-size: 48px;
}
@media (min-width: 992px) {

    width: 100%;
}
.cart {
    background-color: #ffdfb5;
    height: 200px;
}
.redesignbutton {
    text-align: center;
    /* width: 400px; */
    height: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #e1bc50;
    color: #ffffff;
    font-size: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    border: 4px solid #a7b0bf;
    box-shadow: 10px 10px 5px #231f20;
    margin-left: 0px;
}
.border1 {

    border-left: 3px solid #836014;

}
footer {
    background-color: #a45125;

}
.frmcontact {
    margin-left: -15px;
    background: #fff1de;
    border: 3px dashed #8c6239;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.frmcontact p {
    font-size: 24px;
    color: #a45125;
    text-align: center;
    font-weight: bold;
}
.group1 label {
    font-size: 14px;
    color: #a45125;
    padding-left: 15px;
}
.group1 input {
    padding-right: 15px;
    border: 1px dashed #8c6239;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.group1 textarea{
    border: 1px dashed #8c6239;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.btnsubmit {
    background-color: #fff1de;
    width: 215px;
    height: 50px;
    text-align: center;
    border: 3px dashed #8c6239;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #a45125;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 0px;
    margin-right: 30px;

}
.logo2 {
    margin-top: 100px;
    font-size: 100px;
    color: #ffffff;
    font-weight: bold;
    margin-left: 15px;
}
.contact2 p img  {
    margin-right: 10px;
    margin-top: 10px;
}
.contact2 p {
    font-size:20px;
    color: #ffffff;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 15px;
}

